! ------------------------------------------------------------------------------
! My Xresources config 2019-08-03
! ------------------------------------------------------------------------------

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: argb:ee273238, #273238, argb:3a1e2529
rofi.color-normal: argb:00273238, #c1c1c1, argb:3a273238, #394249, #ffffff
rofi.color-active: argb:00273238, #80cbc4, argb:3a273238, #394249, #80cbc4
rofi.color-urgent: argb:00273238, #ff1844, argb:3a273238, #394249, #ff1844

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            1000
URxvt.internalBorder:       3
URxvt.lineSpace:            0
urxvt.background:           [80]#161821

! Appearance
URxvt.font:           xft:Terminus (TTF) for Powerline:MediumForPowerline:size=13:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.imFont:         xft:Terminus (TTF) for Powerline:MediumForPowerline:size=13:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.boldFont:       xft:Terminus (TTF) for Powerline:MediumForPowerline:size=13:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.italicFont:     xft:Terminus (TTF) for Powerline:MediumForPowerline:size=13:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.boldItalicFont: xft:Terminus (TTF) for Powerline:MediumForPowerline:size=13:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true

! Fix font space
URxvt.letterSpace: 0

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          qutebrowser

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

*background: #161821
*foreground: #c6c8d1
!*fading: 40
*fadeColor: #002b36
*cursorColor: #93a1a1
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1

! colors
*.cursorColor:  #c6c8d1
*.background: #161821
*.foreground: #c6c8d1
! Black + DarkGrey
*.color0:  #161821
*.color8:  #6b7089
! DarkRed + Red
*.color1:  #e27878
*.color9:  #e98989
! DarkGreen + Green
*.color2:  #b4be82
*.color10: #c0ca8e
! DarkYellow + Yellow
*.color3:  #e2a478
*.color11: #e9b189
! DarkBlue + Blue
*.color4:  #84a0c6
*.color12: #91acd1
! DarkMagenta + Magenta
*.color5:  #a093c7
*.color13: #ada0d3
! DarkCyan + Cyan
*.color6:  #89b8c2
*.color14: #95c4ce
! LightGrey + White
*.color7:  #c6c8d1
*.color15: #d2d4de

! ------------------------------------------------------------------------------
! 2nd Terminal Settings... waiting
! ------------------------------------------------------------------------------
