! ------------------------------------------------------------------------------
! My Xresources config 2019-08-03
! ------------------------------------------------------------------------------

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: argb:ee273238, #273238, argb:3a1e2529
rofi.color-normal: argb:00273238, #c1c1c1, argb:3a273238, #394249, #ffffff
rofi.color-active: argb:00273238, #80cbc4, argb:3a273238, #394249, #80cbc4
rofi.color-urgent: argb:00273238, #ff1844, argb:3a273238, #394249, #ff1844

URxvt.depth:                32
URxvt.geometry:             90x30
URxvt.transparent:          false
URxvt.fading:               0
! URxvt.urgentOnBell:         true
! URxvt.visualBell:           true
URxvt.loginShell:           true
URxvt.saveLines:            10000
URxvt.internalBorder:       3
URxvt.lineSpace:            0
URxvt.background:           #2E3440

! Appearance
URxvt.font:           xft:Terminus (TTF) for Powerline:MediumForPowerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.imFont:         xft:Terminus (TTF) for Powerline:MediumForPowerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.boldFont:       xft:Terminus (TTF) for Powerline:MediumForPowerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.italicFont:     xft:Terminus (TTF) for Powerline:MediumForPowerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true
URxvt.boldItalicFont: xft:Terminus (TTF) for Powerline:MediumForPowerline:size=12:antialias=true,xft:Inconsolata\ For\ Powerline:size=13:antialias=true

! Fix font space
URxvt.letterSpace: 0

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher
URxvt.matcher.button:       1
URxvt.urlLauncher:          qutebrowser

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Pointer
URxvt.pointerBlank:         true

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
